*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  color: hsl(0, 11%, 22%);
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 2rem 6rem;
  box-sizing: border-box;
  font-size: 1.6rem;
}
