.checkout-item {
  width: 100%;
  display: flex;
  min-height: 5rem;
  border-bottom: 0.1rem solid darkgrey;
  padding: 1.5rem 0;
  font-size: 2rem;
  align-items: center;

  .image-container {
    width: 15%;
    padding-right: 1.5rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 28%;
  }

  .quantity {
    padding-left: 2rem;
  }

  .remove-button {
    padding-right: 2.2rem;
    cursor: pointer;
  }
}
